@import url(./stylesheets/main.css);

.grid-container
{
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: 100px auto;
}
.navbar
{
    grid-row-start:1;  
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end:3;
}  
.logo-container
{
    display:flex;
}
.logo {
    flex:1;
}
.logo-image
{
    height:7rem;
    width:7rem;
}
.logo-text
{
    display: inline;
    padding: 0px;
    margin: 0px;
    font-size: 5rem;
    font-weight: 500;
    color: var(--light-teal);
}
/* nav var content's CSS started */
.navbar{
    display:flex;
    justify-content: space-between;
    height:7rem;
    position: fixed;
    top:0;
    width: 100%;
    box-shadow: 1px 1px 3px gray;
    z-index: 1;
}
.nav-content-container {
    position: relative;
    font-weight: 500;
  }

.nav-content-container .nav-item:hover{
      color:var(--light-teal);
  }

  .nav-items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
  }
  .nav-item{
      font-size: 2rem;
      margin:0 1.6rem;
      padding:0.6rem ;
  }
  .nav-social-media-icon-container
  {
      position: absolute;
      right:20rem;
  }
  .nav-icon
  {
      font-size: 2.5rem;
      color:var(--light-teal);
      font-weight: bold;
  }
  .nav-icon:hover{
     color:var(--dark-black);
  }
  /* ------------------------------------------------NAVBAR CSS ENDS HERE------------------------------------------ */

  /*  ---------------------------------------------SIDEBAR CSS STARTS HERE-------------------------------------------- */
  .sidebar-container
  {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start:1 ;
      grid-column-end: 2;
      height: 100vh;
      position: fixed;
      top:7rem;
      left:0;
      bottom: 0;
      z-index:2;
      width:16rem;
      display: flex;
      align-items: flex-start;
      
  }
  .sidebar-list-item
  {
      font-size: 2rem;
      list-style: none;
      padding: 0.7rem 0.7rem;
      font-weight: 500;
      align-self: center;
      margin-top:2rem;
  }
  .sidebar-list-item:hover{
      color: var(--light-teal);
  }
